body {font-family: Arial, sans-serif;}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100px;
    line-height: 19px;
}
li:first-letter {
    text-transform: capitalize;
}
img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
    display: inline;
}
strong {
    color: rgb(33,33,33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
small {
    position: relative;
}
a {
    text-decoration: none;
}
.town {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}
.container {
    margin: 25px;
    max-width: 600px;
}
.card {
    max-width: 600px;
    margin: 30px 0 0 0;
}
.search-area {
    padding: 20px 0 0 0;
    border: none;
}
.currentLocation {
    margin-bottom: 20px;
    color: rgb(135, 135, 135);
}
.units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
.current-conditions:first-letter{
    text-transform: capitalize;
}
.active {
    color: rgb(33,33,33);
    cursor: default;
}

.active:hover {
    text-decoration: none;
    color: rgb(33,33,33);
}

.forecast {
    padding: 0;
}
.weather-forecast {
    margin-bottom: 20px;
    text-align:center;
}

.day {
    font-size: 16px;
    opactity: 0.5;
}

.forecast-temp {
    font-size: 13px;
}

.forecast-temp-min {
    opacity: 0.5;

}